PORT=5001
JWT_SECRET=super_secret_orkestrator_license_key_2026_change_me
ADMIN_SECRET=kumahatetehwe
TOTP_SECRET=ABSENTASECRETKEYMYSECURETOKEN

# Tripay Payment Gateway - Production Credentials
TRIPAY_PROD_MERCHANT_CODE=T35097
TRIPAY_PROD_API_KEY=your_tripay_production_api_key
TRIPAY_PROD_PRIVATE_KEY=your_tripay_production_private_key
TRIPAY_PROD_API_URL=https://tripay.co.id/api

# Tripay Payment Gateway - Sandbox Credentials
TRIPAY_SANDBOX_MERCHANT_CODE=T35062
TRIPAY_SANDBOX_API_KEY=DEV-your_tripay_sandbox_api_key
TRIPAY_SANDBOX_PRIVATE_KEY=your_tripay_sandbox_private_key
TRIPAY_SANDBOX_API_URL=https://tripay.co.id/api-sandbox

# Expo Access Token for Automatic Build Download
EXPO_ACCESS_TOKEN=MSfs-JXOKWK-dBsq_KdWCE7ncnxKqMFm1qdqLhfu

MAIN_DOMAIN=example.com
